# app specific
*.csv
*.zip
*.jar

# sbt specific
.cache
.cache-main
.cache-tests
.history
.lib/
.idea/*
.idea/
.idea
dist/*
zip_and_csv_files/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
